name: CI-CD Workshop 4

on:
  push:
    paths:
      - 'Docs/Workshops/Workshop-4/**'
  pull_request:
    paths:
      - 'Docs/Workshops/Workshop-4/**'

jobs:
  backend-java:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: Docs/Workshops/Workshop-4/auth-service

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Build and test (Maven)
        run: mvn -B clean test

  backend-python:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: Docs/Workshops/Workshop-4/python-service

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run tests
        run: pytest
